{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class=" row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}

                        {% for field in form %}
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example3">{{ field.label_tag }}</label>
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <div class="text-danger">
                                            {{error}}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control form-control-lg" placeholder="{{ field.label }}" value="{{ field.value|default:'' }}">
                            </div>
                        {% endfor %}

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'signup' %}"
                                    class="link-info">SignUp</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}